{% extends 'base.html.twig' %}

{% block main %}


    <section class="section-wrap pt-60 pb-30 catalog">
        <div class="container">

            <!-- Breadcrumbs -->
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('index') }}">Начало</a>
                </li>
                <li>
                    <a id="categoryName">{{ category }}</a>
                </li>
            </ol>
            <div class="row">
                <div class="col-lg-9 order-lg-2 mb-40">

                    <!-- Filter -->
                    <div class="shop-filter">
                        <p class="woocommerce-result-count">
                            Показване на: {{ products|length }} резултата
                        </p>
                        <span class="woocommerce-ordering-label">Сортирай по</span>
                        <form class="woocommerce-ordering">
                            <select id="sorting">
                                <option value="default-sorting">Подразбиране</option>
                                <option value="price-low-to-high">Цена: висока към ниска</option>
                                <option value="price-high-to-low">Цена: ниска към висока</option>
                                <option value="by-popularity">Популярност</option>
                                <option value="date">Най-нови</option>

                            </select>
                        </form>
                    </div>

                    <div class="row row-8" id="divSort">

                        {% for product in products %}
                        <div class="col-md-4 col-sm-6 product" >
                            <div class="product__img-holder">
                                <a href="{{ path('singleProduct',{ 'id':product.id}) }}" class="product__link">
                                    <img src="/img/uploads/{{ product.id }}.0.jpg" alt="" class="product__img" id="img_1B" height="300px">
                                    {% if product.photoCount>1 %}
                                    <img src="/img/uploads/{{ product.id }}.1.jpg" alt="" class="product__img-back" id="img_1S" height="300px">
                                    {% endif %}
                                </a>
                                <div class="product__actions">
                                    <a href="quickview.html" class="product__quickview">
                                        <i class="ui-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                    <a href="#" class="product__add-to-wishlist">
                                        <i class="ui-heart"></i>
                                        <span>Wishlist</span>
                                    </a>
                                </div>
                            </div>

                            <div class="product__details">
                                <h3 class="product__title">
                                    <a href="{{ path('singleProduct',{ 'id':product.id}) }}">{{ product.title }}</a>
                                </h3>
                            </div>

                            <span class="product__price">
                  <ins>
                    <span class="amount">{{ (product.price)|number_format(2) }} лв.</span>
                  </ins>
                </span>
                        </div> <!-- end product -->
                        {% endfor %}


                    </div> <!-- end row -->

                    <!-- Pagination -->
                    <div class="pagination clearfix">
                        <nav class="pagination__nav right clearfix">

                        </nav>
                    </div>

                </div> <!-- end col -->


                <!-- Sidebar -->
                <aside class="col-lg-3 sidebar left-sidebar">

                    <!-- Categories -->
                    <div class="widget widget_categories widget--bottom-line">
                        <h4 class="widget-title">Секции</h4>
                        <ul>
                            {% for categoryPr in allCategories %}
                                {% if categoryPr.name!=category %}
                            <li>
                                <a href="{{ path('catalog',{ 'categoryName':categoryPr.tag}) }}">{{ categoryPr.name }}</a>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>


                    <!-- Filter by Price -->
                    <div class="widget widget__filter-by-price widget--bottom-line">
                        <h4 class="widget-title">Filter by Price</h4>

                        <div id="slider-range"></div>
                        <p>
                            <label for="amount">Price:</label>
                            <input type="text" id="amount">
                            <a href="#" class="btn btn-sm btn-dark"><span>Filter</span></a>
                        </p>
                    </div>

                </aside> <!-- end sidebar -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end catalog -->


{% endblock %}