{% extends 'base.html.twig' %}

{% block main %}

    <section class="hero">
        <div id="owl-hero" class="owl-carousel owl-theme owl-carousel--dots-inside">

            <div class="hero__slide" style="background-image: url(/img/hero/1.jpg)">

            </div>

            <div class="hero__slide" style="background-image: url(/img/hero/2.jpg)">

            </div>

            <div class="hero__slide" style="background-image: url(/img/hero/3.jpg)">

            </div>

        </div> <!-- end owl -->
    </section> <!-- end hero slider -->

    <!-- Feature -->
    <section class="section-wrap pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 feature">
                    <i class="ui-cube feature__icon"></i>
                    <div class="feature__holder">
                        <h6 class="feature__title">Ръчна изработка</h6>
                        <span class="feature__text">Ръчно изработени продуктити</span>
                    </div>
                </div>
                <div class="col-md-3 feature">
                    <i class="ui-plane feature__icon"></i>
                    <div class="feature__holder">
                        <h6 class="feature__title">Безплатна доставка</h6>
                        <span class="feature__text">За поръчки над 100лв</span>
                    </div>
                </div>
                <div class="col-md-3 feature">
                    <i class="ui-pricetag feature__icon"></i>
                    <div class="feature__holder">
                        <h6 class="feature__title"><span class="feature__promo">Промоции до 50%</span></h6>
                        <span class="feature__text">Нови промоции всяка седмица</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Best Seller -->
    <section class="section-wrap pb-30">
        <div class="container">

            <div class="heading-row">
                <div class="text-center">
                    <h2 class="heading bottom-line">
                        най-продавани
                    </h2>
                </div>
            </div>

            <div class="row row-8">
                {% for product in bestSellers %}

                    <div class="col-lg-2 col-sm-4 product">
                        <div class="product__img-holder">
                            <a href="{{ path('singleProduct',{ 'id':product.id}) }}" class="product__link" aria-label="Product">
                                <img height="300" src="img/uploads/{{ product.id }}.0.jpg" alt="" class="product__img">
                                {% if product.photoCount>1 %}
                                    <img height="300" src="/img/uploads/{{ product.id }}.1.jpg" alt="" class="product__img-back">
                                {% endif %}
                            </a>
                        </div>

                        <div class="product__details">
                            <h3 class="product__title">
                                <a href="{{ path('singleProduct',{ 'id':product.id}) }}">{{ product.title }}</a>
                            </h3>
                        </div>

                        <span class="product__price">
                  {%  if not product.isPromotion %}
                      <ins>
                          <span class="amount">{{ (product.price)|number_format(2) }} лв.</span>
                        </ins>
                        {% else %}
                      <ins>
                          <span class="amount" style="color: red">{{ (product.price)|number_format(2) }} лв.</span>
                        </ins>
                      <del>
                           <span >{{ (product.discountPrice)|number_format(2) }} лв.</span>
                        </del>
                  {% endif %}
            </span>
                    </div> <!-- end product -->
                {% endfor %}

            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end best seller -->

    <!-- New Arrivals -->
    <section class="section-wrap no-padding"  id="new">
        <div class="container">

            <div class="heading-row">
                <div class="text-center">
                    <h2 class="heading bottom-line">
                        най-нови
                    </h2>
                </div>
            </div>

            <div class="row row-8">

                {% for product in lastOnes %}
                    <div class="col-lg-2 col-sm-4 product">
                        <div class="product__img-holder">
                            <a href="{{ path('singleProduct',{ 'id':product.id}) }}" class="product__link" aria-label="Product">
                                <img  height="300" src="img/uploads/{{ product.id }}.0.jpg" alt="" class="product__img">
                                {% if product.photoCount>1 %}
                                    <img height="300" src="/img/uploads/{{ product.id }}.1.jpg" alt="" class="product__img-back">
                                {% endif %}
                            </a>

                        </div>

                        <div class="product__details">
                            <h3 class="product__title">
                                <a href="{{ path('singleProduct',{ 'id':product.id}) }}">{{ product.title }}</a>
                            </h3>
                        </div>

                        <span class="product__price">
                  {%  if not product.isPromotion %}
                      <ins>
                          <span class="amount">{{ (product.price)|number_format(2) }} лв.</span>
                        </ins>
                        {% else %}
                      <ins>
                          <span class="amount" style="color: red">{{ (product.price)|number_format(2) }} лв.</span>
                        </ins>
                      <del>
                           <span >{{ (product.discountPrice)|number_format(2) }} лв.</span>
                        </del>
                  {% endif %}
            </span>
                    </div> <!-- end product -->
                {% endfor %}
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end new arrivals -->

    <!-- Testimonials -->
    <section class="section-wrap">
        <div class="container">

            <div class="heading-row mb-0">
                <div class="text-center">
                    <h2 class="heading">
                        Какво казват нашите клиенти?
                    </h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">

                    <div id="owl-testimonials" class="owl-carousel owl-theme owl-carousel--dark-arrows owl-carousel--visible-arrows">

                        <div class="testimonial">
                            <div class="testimonial__rating text-center">
                                <span class="rating"></span>
                                <span class="rating__time">20 days ago</span>
                            </div>
                            <p class="testimonial__text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!</p>
                            <span class="testimonial__author">Camille Ragpa</span>
                        </div>

                        <div class="testimonial">
                            <div class="testimonial__rating text-center">
                                <span class="rating"></span>
                                <span class="rating__time">20 days ago</span>
                            </div>
                            <p class="testimonial__text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!</p>
                            <span class="testimonial__author">Camille Ragpa</span>
                        </div>

                        <div class="testimonial">
                            <div class="testimonial__rating text-center">
                                <span class="rating"></span>
                                <span class="rating__time">20 days ago</span>
                            </div>
                            <p class="testimonial__text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!</p>
                            <span class="testimonial__author">Camille Ragpa</span>
                        </div>

                    </div> <!-- end carousel -->
                </div>
            </div> <!-- end carousel row -->

        </div>
    </section> <!-- end testimonials -->



{% endblock %}