{% extends 'base.html.twig' %}

{% block main %}

    <section class="section-wrap pb-20 product-single">
        <div class="container">
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="icon-box">
                                <i class="material-icons">&#xE876;</i>
                            </div>
                            <h4 class="modal-title">Успешно добавяне в количката!</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Продъктът е добавен в количката.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs -->
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('index' )}}">Начало</a>
                </li>
                <li class="active">
                    {{ product.categoryId.name }}
                </li>
            </ol>

            <div class="row">

                <div class="col-md-6 product-slider mb-50">

                    <div class="flickity flickity-slider-wrap mfp-hover" id="gallery-main">
                        {% for i in 0..product.photoCount-1 %}
                            <div class="gallery-cell">
                                <a href="/img/uploads/{{ product.id }}.{{ i }}.jpg" class="lightbox-img">
                                    <img src="/img/uploads/{{ product.id }}.{{ i }}.jpg" alt="" />
                                </a>
                            </div>
                        {% endfor %}
                    </div> <!-- end gallery main -->

                    <div class="gallery-thumbs" id="gallery-thumbs">
                        {% for i in 0..product.photoCount-1 %}
                            <div class="gallery-cell">
                                <img src="/img/uploads/{{ product.id }}.{{ i }}.jpg" alt="" />
                            </div>
                        {% endfor %}
                    </div> <!-- end gallery thumbs -->

                </div> <!-- end col img slider -->
                <input type="hidden" id="productId" value="{{ product.id }}">
                <div class="col-md-6 product-single">
                    <h1 class="product-single__title uppercase">{{ product.title }}</h1>


                    <span class="product-single__price">
                        {%  if not product.isPromotion %}
                        <ins>
                          <span class="amount">{{ (product.price)|number_format(2) }} лв.</span>
                        </ins>
                        {% else %}
                        <ins>
                          <span class="amount" style="color: red">{{ (product.discountPrice)|number_format(2) }} лв.</span>
                        </ins>
                        <del>
                           <span >{{ (product.price)|number_format(2) }} лв.</span>
                        </del>
                         {% endif %}
                        <form action="{{ path('singleProduct', { 'id':product.id} )}}" method="post" id="sendSubmitForBuying">
                    <div class="colors clearfix">
                        <span class="colors__label">Цвят: <span class="colors__label-selected">{{ product.color }} </span></span>

                    </div>

                    <div class="size-quantity clearfix">
                        {% if size is not empty %}
                        <div class="size">
                            <label>Налични размери</label>
                            <label style="display: none; color: red" id="warningSize">*Изберете номер</label>

                            <select id="sizeSelected" class="size__select" name="size__select">
                                  <option value="Избери...">Избери...</option>
                                {% for siz in size %}
                                    <option value="{{ siz }}">{{ siz }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        {% endif %}
                        <div class="quantity">
                            <label>Количество</label>
                            <select name="quantity" id="quantity__select" class="quantity__select">
                                  <option value="Избери...">Избери...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>

                    <div class="row row-10 product-single__actions clearfix">
                        <div class="col">
                            <a href="#" class="btn btn-lg btn-color product-single__add-to-cart" id="addToCart">
                                <i class="ui-bag"></i>
                                <span>Добави към количка</span>
                            </a>
                        </div>
                        <div class="col">
                            <button type="submit"  href="{{ path('buy',{ 'id':product.id}) }}" class="btn btn-lg btn-dark product-single__add-to-wishlist">
                                <i class="ui-heart"></i>
                                <span>Купи сега</span>
                            </button>
                        </div>
                    </div>

                    <div class="product_meta">
                        <ul>
                            <li>
                                <span class="product-code">Код на продукта: <span>{{ product.modelNumber }}</span></span>
                            </li>
                            <li>
                                <span class="product-material">Материали: <span>Cotton 100%</span></span>
                            </li>
                            <li>
                                <span class="product-country">Държава: <span>Произведено в България</span></span>
                            </li>
                        </ul>
                    </div>
                    </form>
                        <!-- Accordion -->
                    <div class="accordion mb-50" id="accordion">
                        <div class="accordion__panel">
                            <div class="accordion__heading" id="headingOne">
                                <a data-toggle="collapse" href="#collapseOne" class="accordion__link accordion--is-open" aria-expanded="true" aria-controls="collapseOne">Описание<span class="accordion__toggle">&nbsp;</span>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion" role="tabpanel" aria-labelledby="headingOne">
                                <div class="accordion__body">
                                   {{ product.description }}
                                </div>
                            </div>
                        </div>

                        <div class="accordion__panel">
                            <div class="accordion__heading" id="headingTwo">
                                <a data-toggle="collapse" href="#collapseTwo" class="accordion__link accordion--is-closed" aria-expanded="false" aria-controls="collapseTwo">Информация<span class="accordion__toggle">&nbsp;</span>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="accordion__body">
                                    <table class="table shop_attributes">
                                        <tbody>
                                        <tr>
                                            <th>Size:</th>
                                            <td>EU 41 (US 8), EU 42 (US 9), EU 43 (US 10), EU 45 (US 12)</td>
                                        </tr>
                                        <tr>
                                            <th>Colors:</th>
                                            <td>Violet, Black, Blue</td>
                                        </tr>
                                        <tr>
                                            <th>Fabric:</th>
                                            <td>Cotton (100%)</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                </div> <!-- end col product description -->
                    </span>
            </div> <!-- end row -->
            </div>
        </div> <!-- end container -->
    </section> <!-- end single product -->


    <!-- Related Products -->
    <section class="section-wrap pt-0 pb-40">
        <div class="container">

            <div class="heading-row">
                <div class="text-center">
                    <h2 class="heading bottom-line">
                        Shop the look
                    </h2>
                </div>
            </div>

            <div class="row row-8">

                {% for simProduct in similar %}
                <div class="col-lg-2 col-sm-4 product">
                    <div class="product__img-holder">
                        <a href="{{ path('singleProduct',{ 'id':simProduct.id}) }}" class="product__link">
                            <img src="/img/uploads/{{ simProduct.id }}.0.jpg" alt="" class="product__img" id="img_1B" >
                            {% if simProduct.photoCount>1 %}
                                <img src="/img/uploads/{{ simProduct.id }}.1.jpg" alt="" class="product__img-back" id="img_1S" >
                            {% endif %}
                        </a>

                    </div>

                    <div class="product__details">
                        <h3 class="product__title">
                            <a href="{{ path('singleProduct',{ 'id':simProduct.id}) }}">{{ simProduct.title }}</a>
                        </h3>
                    </div>
                </div>
            {% endfor %}

            </div> <!-- end row -->

        </div> <!-- end container -->
    </section> <!-- end related products -->
{% endblock %}
