{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}

    <section class="page-title text-center">
        <div class="container">
            <h1 class=" heading page-title__title">Админ панел</h1>
        </div>
    </section> <!-- end page title -->


    <!-- Cart -->
    <section class="section-wrap cart pt-50 pb-40">
        <div class="container relative">

            <div class="table-wrap">
                <table class="shop_table cart table">
                    <thead>
                    <tr>
                        <th class="product-name" colspan="2">Product</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal" colspan="2">Total</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for model in models %}
                        <tr class="cart_item">
                            <td class="product-thumbnail">
                                <a href="#">
                                    <img src="/img/uploads/{{ model.id }}.0.jpg" alt="">
                                </a>
                            </td>
                            <td class="product-name">
                                <a href="#">{{ model.title }}</a>
                                <ul>
                                    <li>Size: {{ model.Sizes }}</li>
                                    <li>Color: White</li>
                                </ul>
                            </td>
                            <td class="product-price">
                                <span class="amount">{{ model.price }}</span>
                            </td>
                            <td class="product-quantity">
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus">
                                    <input type="number" step="1" min="0" value="1" title="Qty" class="input-text qty text">
                                    <input type="button" value="+" class="plus">
                                </div>
                            </td>

                            <td class="product-subtotal">
                                <a class="btn btn-edit btn-sm"
                                   href="{{ path('editModel',{ 'id':model.id}) }}">Редактирай</a>
                            </td>
                            <td class="product-remove">
                                <a href="#" class="remove" title="Remove this item">
                                    <i class="ui-close"></i>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}


                    <p>
                        <input type="submit" name="calc_shipping" value="Update Totals" class="btn btn-md btn-dark btn-button">
                    </p>
            </div> <!-- end col shipping calculator -->

            <div class="col-lg-4">
                <div class="cart_totals">


                    <table class="table shop_table">
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div> <!-- end col cart totals -->

        </div> <!-- end row -->


        </div> <!-- end container -->
    </section> <!-- end cart -->

{% endblock %}
