{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}

    <section class="page-title text-center">
        <div class="container">
            <h1 class=" heading page-title__title">Админ панел</h1>
        </div>
    </section> <!-- end page title -->


    <!-- Cart -->
    <section class="section-wrap cart pt-50 pb-40">
        <div class="container relative">

            <div class="table-wrap">
                <table class="shop_table cart table">
                    <thead>
                    <tr>
                        <th class="product-name" colspan="2">Продукт</th>
                        <th class="product-price">Цена</th>
                        <th class="product-quantity">Промоция</th>
                        <th class="product-subtotal" colspan="2">Редактиране</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for model in models %}
                        {% if model.isDetelet ==0 %}
                        <tr class="cart_item">
                            <td class="product-thumbnail">
                                <a href="#">
                                    <img src="/img/uploads/{{ model.id }}.0.jpg" alt="">
                                </a>
                            </td>
                            <td class="product-name">
                                <a href="#">{{ model.title }}</a>
                                <ul>
                                    <li>Размери: {{ model.Sizes }}</li>
                                    <li>Цвят: {{ model.color }}</li>
                                </ul>
                            </td>
                            <td class="product-price">
                                <span class="amount">{{ model.price }}</span>
                            </td>
                            <td class="product-quantity">
                                <div class="quantity buttons_added">
                                    {% if model.isPromotion==0 %}
                                        <span class="amount" style="color: green">Не е в промоция</span>

                                    {% else %}

                                        <span class="amount" style="color: red">В промоция</span>

                                    {% endif %}
                                </div>
                            </td>

                            <td class="product-subtotal">
                                <a class="btn btn-edit btn-sm"
                                   href="{{ path('editModel',{ 'id':model.id}) }}">Редактирай</a>
                            </td>

                        </tr>
                       {% endif %}
                    {% endfor %}


            </div> <!-- end col shipping calculator -->

            <div class="col-lg-4">
                <div class="cart_totals">


                    <table class="table shop_table">
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div> <!-- end col cart totals -->

        </div> <!-- end row -->


        </div> <!-- end container -->
    </section> <!-- end cart -->

{% endblock %}
