{% extends 'base.html.twig' %}


{% block main %}


    <div style="margin: 50px;">

        <h1>Редактиране на ПРОДУКТ</h1>


        <form action="{{ path('editModel', { 'id':producttoEdit.id}) }}" method="post">
            <label>Заглавие</label>
            <input type="text" name="products[title]" value="{{ producttoEdit.title }}">
            <label>Модел №</label>
            <input type="text" name="products[modelNumber]" value="{{ producttoEdit.modelNumber }}">
            <label>Цена</label>
            <input type="text" name="products[price]"  value="{{ producttoEdit.price }}" >
            <label>Размери</label>

            <label>Цвят</label>
            <input type="text" name="products[color]" value="{{ producttoEdit.color }}">
            <label>Размери-наличност</label>
            <input type="text" name="products[Sizes]" value="{{ producttoEdit.Sizes }}">
            <label>Категория</label>
            <select name="products[category]" >
                <option value="womenSportShoes">дамски спортни обувки</option>
                <option value="manSportShoes">мъжки спортни обувки</option>
                <option value="manOfficialShoes">мъжки официални обувки</option>
                <option value="womenBracelet">дамски гривни</option>
                <option value="manBelts">мъжки колани</option>
                <option value="wallets">портфейли</option>
                <option value="manBracelet">мъжки гривни</option>
            </select>
            <label>Промоция</label>
            <div class="checkbox mb-3">
                {% if producttoEdit.isPromotion %}
                <input type="checkbox" id="ship-to-different-address-checkbox"
                       class="input-checkbox"  name="products[isPromotion]"value="1" checked>
                {% else %}
                <input type="checkbox" id="ship-to-different-address-checkbox"
                       class="input-checkbox"  name="products[isPromotion]"value="1">
                {% endif %}
                <label for="ship-to-different-address-checkbox" class="checkbox">В промоция</label>
            </div>
            <label>Намалено от:</label>
            <input type="text" name="products[discountPrice]" value="{{ producttoEdit.discountPrice }}">

            <label>Описание</label>
            <textarea type="text" name="products[description]" >{{ producttoEdit.description }} </textarea>
            <input type="submit">
        </form>

    </div>


{% endblock %}