{% extends 'base.html.twig' %}


{% block main %}


    <div style="margin: 50px;">

        <h1>Редактиране на ПРОДУКТ</h1>


        <form action="{{ path('editModel', { 'id':producttoEdit.id}) }}" method="post" id="addModel" enctype="multipart/form-data">
            <label>Заглавие</label>
            <label style="display: none; color: red" id="addProductNameWarning">Това поле е задължително</label>
            <input type="text" id="addProductName" name="products[title]" value="{{ producttoEdit.title }}">
            <label>Модел №</label>
            <label style="display: none; color: red" id="addProductModelNumberWarning">*Това поле е задължително</label>
            <input type="text" id="addProductModelNumber" name="products[modelNumber]" value="{{ producttoEdit.modelNumber }}">
            <label>Цена</label>
            <label style="display: none; color: red" id="addProductPriceWarning">*Това поле е задължително</label>
            <label style="display: none; color: red" id="priceInvalid">*Невалиден формат. Цената трябва да е цяло число напр 50 или реално разделено с точка 129.99</label>

            <input type="text"id="addProductPrice" name="products[price]"  value="{{ producttoEdit.price }}" >
            <label>Размери</label>
            <label style="display: none; color: red" id="addProductColorWarning">*Това поле е задължително</label>
            <input type="text" id="addProductColor" name="products[color]" value="{{ producttoEdit.color }}">
            <label>Размери-наличност</label>
            <label style="display: none; color: red" id="sizeWarning">*Невалидни входни данни, правилният формат е номер-число(0 или 1) ПРИМЕР 36-1</label>

            <input type="text" id="size" name="products[Sizes]" value="{{ producttoEdit.Sizes }}">
            <label>Категория</label>
            <label style="display: none; color: red" id="addProductCategoryWarning">*Това поле е задължително</label>

            <select name="products[category]" id="addProductCategory">
                <option value="{{ producttoEdit.categoryId.tag }}" selected>{{ producttoEdit.categoryId.name }}</option>
                {% for category in categories %}
                    <option value="{{ category.tag }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label>Промоция</label>
            <div class="checkbox mb-3">
                {% if producttoEdit.isPromotion %}
                <input type="checkbox" id="ship-to-different-address-checkbox"
                       class="input-checkbox"  name="products[isPromotion]"value="1" checked>
                {% else %}
                <input type="checkbox" id="ship-to-different-address-checkbox"
                       class="input-checkbox"  name="products[isPromotion]"value="1">
                {% endif %}
                <label for="ship-to-different-address-checkbox" class="checkbox">В промоция</label>
            </div>
            <label>Намалено от:</label>
            <input type="text" id="productToEditDiscount" name="products[discountPrice]" value="{{ producttoEdit.discountPrice }}">

            <label>Описание</label>
            <textarea type="text" name="products[description]" >{{ producttoEdit.description }} </textarea>
            <h3>Редактиране на снимки</h3>
        <br>
            {% for i in 1..producttoEdit.photoCount %}
                <img src="/img/uploads/{{ producttoEdit.id }}.{{ i-1 }}.jpg"  height="100px" width="100px">
                <label>Снимка {{ i }}</label>
                <input type="file" name="file{{ i }}">
            {% endfor %}
            <br>
            {% if producttoEdit.photoCount<5 %}
            <h3>Добавяне на снимки</h3>
            <hr>

            {% for i in producttoEdit.photoCount+1..5 %}
                <label>Снимка {{ i }}</label>
                <input type="file" name="file{{ i }}">
            {% endfor %}
            {% endif %}
            <input type="submit" value="Редактирай">
        </form>
    <hr style="solid-color: red">
        <form action="{{ path('deleteModel')}}" method="post" id="deleteModel">
            <input type="hidden" value="{{ producttoEdit.Id }}" id="deleteModelId" name="deleteModelId">
          <input type="submit" value="Изтрий" style="color: red">
        </form>
    </div>


{% endblock %}