<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="">
    <title>{% block title %}STD{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/font-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/color.css') }}">
        <link rel="stylesheet"
              href="http://fonts.googleapis.com/css?family=Questrial:400%7CMontserrat:300,400,700,700i">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('/shoes.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('/img/apple-touch-icon.png') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('/img/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('/img/apple-touch-icon-114x114.pn') }}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style type="text/css">

        .modal-confirm {

            width: 325px;
        }
        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }
        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }
        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }
        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }
        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }
        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }
        .modal-confirm .icon-box {
            position: absolute;
            margin: 0 auto;
            left: 10%;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: #82ce34;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .modal-confirm .icon-box i {
            font-size: 58px;
            position: relative;
            top: 3px;
        }
        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }
        .modal-confirm .btn {
            border-radius: 4px;
            background: #82ce34;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }
        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            background: #6fb32b;
            outline: none;
        }
        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
    </div>
</div>


<!-- Mobile Sidenav -->
<header class="sidenav" id="sidenav">
    <!-- Search -->
    <div class="sidenav__search-mobile">
        <form method="get" class="sidenav__search-mobile-form">
            <input type="search" class="sidenav__search-mobile-input" placeholder="Search..." aria-label="Search input">
            <button type="submit" class="sidenav__search-mobile-submit" aria-label="Submit search">
                <i class="ui-search"></i>
            </button>
        </form>
    </div>

    <nav>
        <ul class="sidenav__menu" role="menubar">
            <li>
                <a href="#" class="sidenav__menu-link">Men</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="#" class="sidenav__menu-link">T-shirt</a></li>
                    <li><a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a></li>
                    <li><a href="#" class="sidenav__menu-link">Suits</a></li>
                    <li><a href="#" class="sidenav__menu-link">Shorts</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">Women</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="#" class="sidenav__menu-link">Underwear</a></li>
                    <li><a href="#" class="sidenav__menu-link">Hipster</a></li>
                    <li><a href="#" class="sidenav__menu-link">Dress</a></li>
                    <li><a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a></li>
                    <li><a href="#" class="sidenav__menu-link">Tees</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">Accessories</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li>
                        <a href="#" class="sidenav__menu-link">All accessories</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">Wallets</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Scarfs</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Shirt</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Shoes</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="sidenav__menu-link">for her</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">Underwear</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Hipster</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Dress</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Tees</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="sidenav__menu-link">for him</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">T-shirt</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Dress</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Suits</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Shorts</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="sidenav__menu-link">Watches</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">Smart Watches</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Diving Watches</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Sport Watches</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Classic Watches</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">News</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="blog-standard.html" class="sidenav__menu-link">Blog Standard</a></li>
                    <li><a href="blog-single.html" class="sidenav__menu-link">Single Post</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">Pages</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="catalog.html" class="sidenav__menu-link">Catalog</a></li>
                    <li><a href="single-product.html" class="sidenav__menu-link">Single Product</a></li>
                    <li><a href="cart.html" class="sidenav__menu-link">Cart</a></li>
                    <li><a href="checkout.html" class="sidenav__menu-link">Checkout</a></li>
                    <li><a href="about.html" class="sidenav__menu-link">About</a></li>
                    <li><a href="contact.html" class="sidenav__menu-link">Contact</a></li>
                    <li><a  href="{{ path('app_login') }}" class="sidenav__menu-link">Login</a></li>
                    <li><a href="faq.html" class="sidenav__menu-link">FAQ</a></li>
                    <li><a href="404.html" class="sidenav__menu-link">404</a></li>
                </ul>
            </li>

            <li>
                {% if app.user %}
                    <a href="#" class="sidenav__menu-link">{{ app.user.email }}</a>

                {% else %}
                    <a href="#" class="sidenav__menu-link">Вход</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header> <!-- end mobile sidenav -->


<main class="main oh" id="main">

    <!-- Navigation -->
    <header class="nav">

        <div class="nav__holder nav--sticky">
            <div class="container relative">

                <!-- Top Bar -->
                <div class="top-bar d-none d-lg-flex">

                    <!-- Currency / Language -->
                    <ul class="top-bar__currency-language">
                        <li class="top-bar__language">
                            <a href="#">Български</a>

                        </li>
                        <li class="top-bar__currency">
                            <a href="#">Лева</a>

                        </li>
                    </ul>

                    <!-- Promo -->
                    <p class="top-bar__promo text-center">Безплатна доставка за покупки над 50лв.</p>

                    <!-- Sign in / Wishlist / Cart -->
                    <div class="top-bar__right">

                        <!-- Sign In -->
                        {% if app.user %}

                            <li class="top-bar__language">
                            <a  href="#" class="top-bar__item top-bar__sign-in" ><i class="ui-user"></i>{{ app.user.email }}</a>
                            <div class="top-bar__language-dropdown">
                                <ul>
                                    <li><a href="{{ path('myOrders') }}">Моите поръчки</a></li>
                                    <li><a href="{{ path('myInformation') }}">Моята информация</a></li>
                                    <li><a href="{{ path('app_logout') }}">Смяна на парола</a></li>
                                    <li><a href="{{ path('app_logout') }}">Изход</a></li>

                                </ul>
                            </div>
                            </li>

                        {% else %}
                            <a  href="{{ path('app_login') }}" class="top-bar__item top-bar__sign-in"><i class="ui-user"></i>Вход</a>
                        {% endif %}
                        <!-- Wishlist -->
                        <a href="#" class="top-bar__item"><i class="ui-heart"></i></a>

                        <div class="top-bar__item nav-cart " id="cartIdnt">
                            {% if productsCart is null %}
                                <a href="{{ path('seeShoppingCart') }}">
                                    <i class="ui-bag"></i>(<span id="cartProductCount">0</span>)
                                </a>
                                <div class="nav-cart__dropdown " id="emptyCart">
                                    <div class="nav-cart__items .overflow-auto">

                                        НЯМА ПРОДУКТИ
                                    </div> <!-- end cart items -->

                                </div>
                            {% else %}
                                <a href="{{ path('seeShoppingCart') }}">
                                    <i class="ui-bag"></i>(<span id="cartProductCount">{{ productsCart|length }}</span>)
                                </a>
                                <div class="nav-cart__dropdown ">
                                    <div class="nav-cart__items .overflow-auto" style="overflow : scroll; scrollbar-width: thin; height: 370px">
                                        {% set sum = 0 %}
                                        {% for product in productsCart %}
                                            {% set sum =sum+ product.price %}
                                            {% for product2 in product.getCartProduct() %}
                                                <div class="nav-cart__item clearfix" id="{{ product.id }}_{{ product.modelSize }}">
                                                    <div class="nav-cart__img">
                                                        <a href="#">
                                                            <img src="/img/uploads/{{ product2.getId() }}.0.jpg" height="100" width="60">
                                                        </a>
                                                    </div>
                                                    <div class="nav-cart__title">
                                                        <a href="#">
                                                            {{ product2.getTitle() }}
                                                        </a>
                                                        <div class="nav-cart__price">
                                                            <span><span id="{{ product.id }}_{{ product.modelSize }}_quantity">{{ product.quantity }}</span> x</span>
                                                            <span><span id="{{ product.id }}_{{ product.modelSize }}_price_one">{{ product2.price|number_format(2) }}</span> лв</span>
                                                        </div>
                                                        <div class="nav-cart__price">
                                                            <span>Размер: </span>
                                                            <span>{{ product.modelSize }}</span>
                                                        </div>
                                                        <div class="nav-cart__price">
                                                            <span>Общо: </span>
                                                            <span><span id="{{ product.id }}_{{ product.modelSize }}_price_total">{{ product.price|number_format(2) }}</span> лв</span>
                                                        </div>
                                                    </div>
                                                    <div class="nav-cart__remove">
                                                        <a href="#"><i class="ui-close"></i></a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        <div id='insertCartProductHere'>

                                        </div>
                                    </div> <!-- end cart items -->

                                    <div class="nav-cart__summary">
                                        <span>Общо: </span>
                                        <span class="nav-cart__total-price"> <span id="total_price">{{ sum|number_format(2)}}</span> лв </span>
                                    </div>

                                    <div class="nav-cart__actions mt-20">
                                        <a href="{{ path('seeShoppingCart') }}" class="btn btn-md btn-light"><span>Виж количката</span></a>
                                        <a href="shop-checkout.html" class="btn btn-md btn-color mt-10"><span>Proceed to Checkout</span></a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div> <!-- end top bar -->

                <div class="flex-parent">

                    <!-- Mobile Menu Button -->
                    <button class="nav-icon-toggle" id="nav-icon-toggle">
              <span class="nav-icon-toggle__box">
                <span class="nav-icon-toggle__inner"></span>
              </span>
                    </button> <!-- end mobile menu button -->

                    <!-- Logo -->
                    <a  href="{{ path('index') }}" class="logo">
                        <img class="logo__img" src="/img/logo_light.png" alt="logo">
                    </a>

                    <!-- Nav-wrap -->
                    <nav class="flex-child nav__wrap d-none d-lg-block">
                        <ul class="nav__menu">


                                <li class="nav__dropdown active">
                                    <a href="catalog.html">Мъжки</a>
                                    <ul class="nav__dropdown-menu">
                                        <li><a href="{{ path('catalog',{ 'categoryName':'manSportShoes'}) }}">Спортни обувки</a></li>
                                        <li><a href="{{ path('catalog',{ 'categoryName':'manOfficialShoes'}) }}">Официални обувки</a></li>

                                    </ul>
                                </li>

                                <li class="nav__dropdown">
                                    <a href="catalog.html">дамски</a>
                                    <ul class="nav__dropdown-menu">
                                        <li><a href="{{ path('catalog',{ 'categoryName':'womenSportShoes'}) }}">Спортни обувки</a></li>

                                    </ul>
                                </li>

                                <li class="nav__dropdown">
                                    <a href="catalog.html">Аксесоари</a>
                                    <ul class="nav__dropdown-menu nav__megamenu">
                                        <li>
                                            <div class="nav__megamenu-wrap">
                                                <div class="row">


                                                    <div class="col nav__megamenu-item">
                                                        <a href="#" class="nav__megamenu-title">За нея</a>
                                                        <ul class="nav__megamenu-list">
                                                            <li><a href="{{ path('catalog',{ 'categoryName':'manBelts'}) }}">Колани</a></li>
                                                            <li><a href="{{ path('catalog',{ 'categoryName':'manBracelet'}) }}">Гривни</a></li>

                                                        </ul>
                                                    </div>

                                                    <div class="col nav__megamenu-item">
                                                        <a href="#" class="nav__megamenu-title">За него</a>
                                                        <ul class="nav__megamenu-list">
                                                            <li><a href="{{ path('catalog',{ 'categoryName':'wallets'}) }}">Портфейли</a></li>
                                                            <li><a href="{{ path('catalog',{ 'categoryName':'manBracelet'}) }}">Гривни</a></li>
                                                            <li><a href="{{ path('catalog',{ 'categoryName':'manBelts'}) }}">Колани</a></li>

                                                        </ul>
                                                    </div>



                                                    <div class="col nav__megamenu-item">
                                                        <a href="#"><img src="/img/shop/megamenu_banner.png" alt=""></a>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav__dropdown">
                                    <a href="#">За нас</a>
                                    <ul class="nav__dropdown-menu">
                                        <li><a href="{{ path('contact') }}">Контакти</a></li>
                                    </ul>
                                </li>
                            {% if is_granted('ROLE_ADMIN')%}

                                <li class="nav__dropdown">
                                    <a href="#">Управление</a>
                                    <ul class="nav__dropdown-menu">
                                        <li><a href="{{ path('adminPanel') }}">Продукти</a></li>
                                        <li><a href="{{ path('addProduct') }}">Добави модел</a></li>
                                        <li><a href="{{ path('seeOrders',{ 'func':'new'}) }}">Поръчки</a></li>
                                        <li><a href="{{ path('seeUsers') }}">Потребители</a></li>


                                    </ul>
                                </li>
                            {% endif %}
                        </ul> <!-- end menu -->

                    </nav> <!-- end nav-wrap -->


                    <!-- Search -->
                    <div class="flex-child nav__search d-none d-lg-block">
                        <form method="get" class="nav__search-form">
                            <input type="search" class="nav__search-input" placeholder="Търси...">
                            <button type="submit" class="nav__search-submit">
                                <i class="ui-search"></i>
                            </button>
                        </form>
                    </div>


                    <!-- Mobile Wishlist -->
                    <a href="#" class="nav__mobile-wishlist d-lg-none">
                        <i class="ui-heart"></i>
                    </a>

                    <!-- Mobile Cart -->
                    <a href="cart.html" class="nav__mobile-cart d-lg-none">
                        <i class="ui-bag"></i>
                        <span class="nav__mobile-cart-amount">(2)</span>
                    </a>

                </div> <!-- end flex-parent -->
            </div> <!-- end container -->

        </div>
    </header> <!-- end navigation -->
    {% endblock %}



    {% block body %}

        {% block main %}{% endblock %}

    {% endblock %}

    {% block footer %}
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="footer__widgets">
                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="widget widget__about">
                                <h4 class="widget-title white">за нас</h4>
                                <p class="widget__about-text">Namira is a very slick and clean e-commerce template with endless possibilities.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="widget widget__newsletter">
                                <h4 class="widget-title white">Регистрирайте се, за да получавате информация за новостите и промоциите </h4>

                                <form class="mc4wp-form">
                                    <div class="mc4wp-form-fields">
                                        <p><input type="email" placeholder="Please enter your email address" aria-label="Newsletter input"></p>
                                        <p><input type="submit" value="Subscribe"></p>
                                    </div>
                                </form>

                                <div class="socials socials--white mt-20">
                                    <a href="#" class="facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                                    <a href="#" class="twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                                    <a href="#" class="snapchat" aria-label="snapchat"><i class="ui-snapchat"></i></a>
                                    <a href="#" class="instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                                    <a href="#" class="pinterest" aria-label="pinterest"><i class="ui-pinterest"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="widget widget_nav_menu">
                                <h4 class="widget-title white">help</h4>
                                <ul>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Tract Order</a></li>
                                    <li><a href="#">Returns &amp; Refunds</a></li>
                                    <li><a href="#">Private Policy</a></li>
                                    <li><a href="#">Shipping Info</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="widget widget_nav_menu">
                                <h4 class="widget-title white">information</h4>
                                <ul>

                                    <li><a href="#">Our Stores</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Delivery Info</a></li>
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Site Map</a></li>
                                    <li><a href="#">Namira Reviews</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- end container -->

            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-sm-center">
              <span class="copyright">

                &copy; 2017 Namira Theme. Made by <a href="http://deothemes.com">DeoThemes</a>
              </span>
                        </div>

                        <div class="col-md-6 footer__payment-systems text-right text-sm-center mt-sml-10">
                            <i class="ui-paypal"></i>
                            <i class="ui-visa"></i>
                            <i class="ui-mastercard"></i>
                            <i class="ui-discover"></i>
                            <i class="ui-amex"></i>
                        </div>
                    </div>
                </div>
            </div> <!-- end bottom footer -->
        </footer> <!-- end footer -->

        <div id="back-to-top">
            <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
        </div>
    {% endblock %}
    {% block javascripts %}

        <script src="{{ asset('/js/jquery-2.2.4.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $("#sorting").on("change", function(event){


                    $.ajax({
                        url:        '/ajaxSort',
                        type:       'POST',
                        dataType:   'html',
                        data: {'command':$("#sorting :selected").val(),'categoryName':$("#categoryName").text()},
                        async:      true,

                        success: function(data, status) {
                            $("#divSort").replaceWith(data);

                        },
                        error : function(xhr, textStatus, errorThrown) {
                            alert('Ajax request failed.');
                        }
                    });
                });
            });
            $(document).ready(function(){
                $("#addToCart").on("click", function(event){
                    $("#addToCart").attr("disabled", true);
                    $('#warningSize').hide();


                    if ($("#sizeSelected").find(":selected").text()==='Избери...')
                    {

                        $("#addToCart").attr("disabled", false);
                        $("#warningSize").show();
                    }
                    else
                    {

                        $("#buttonAddToCartText").text("Добавяне...");
                        $.ajax({
                            url:        '/ajaxAddToCart',
                            type:       'POST',
                            dataType:   'html',
                            data: {'id':$("#productId").val(),'sizeProduct':$("select#sizeSelected :selected").val()},
                            async:      true,

                            success: function(data, status) {
                                $('#myModal').modal('show');


                                     $("#cartIdnt").replaceWith(data);
                                    $("#buttonAddToCartText").text("Добави към количка");
                                    $("#addToCart").attr("disabled", false);



                            },
                            error : function(xhr, textStatus, errorThrown) {
                                $("#buttonAddToCartText").text("Добави към количка");
                                $("#addToCart").attr("disabled", false);
                                alert('Ajax request failed.');
                            }
                        });

                    }

                });
            });
            $(document).ready(function(){
                $("#submit-message").on("click", function(event){


                    $.ajax({
                        url:        '/sendMail',
                        type:       'POST',
                        dataType:   'html',
                        data: {'name':$("#name").val(),'email':$("#email").val(),'subject':$("#subject").val(),'message':$("#message").val()},
                        async:      true,

                        success: function(data, status) {

                            if(data==="yes")
                            {
                                location.href='http://127.0.0.1:8000/contact#';
                                $("#name").val('');
                                $("#subject").val('');
                                $("#email").val('');
                                $("#message").val('')
                                $('#successMessageSend').show();
                                var myVar = setInterval(myTimer, 6000);
                                function myTimer() {
                                    $('#successMessageSend').hide();
                                }
                            }
s

                        },
                        error : function(xhr, textStatus, errorThrown) {
                            alert('Ajax request failed.');
                        }
                    });
                });
            });


        </script>

    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/easing.min.js') }}"></script>
    <script src="{{ asset('/js/jquery.magnific-popup.min.js') }}"></script>

    <script src="{{ asset('/js/owl-carousel.min.js') }}"></script>
    <script src="{{ asset('/js/price-slider.js') }}"></script>
    <script src="{{ asset('/js/flickity.pkgd.min.js') }}"></script>
    <script src="{{ asset('/js/modernizr.min.js') }}"></script>
    <script src="{{ asset('http://maps.google.com/maps/api/js?key=AIzaSyB25gBtcmj-6mFmckZBxpCl7QTwBCHdt2A') }}"></script>
    <script src="{{ asset('/js/gmap3.min.js') }}"></script>
    <script src="{{ asset('/js/scripts.js') }}"></script>
    <script src="{{ asset('/js/custom.js') }}"></script>

{% endblock %}
    </main>
    </body>
    </html>