{% extends 'base.html.twig' %}

{% block main %}
    <!-- Page Title -->
    <section class="page-title text-center">
        <div class="container">
            <h1 class=" heading page-title__title">ЗАВЪРШВАНЕ НА ПОРЪЧКА</h1>
        </div>
    </section> <!-- end page title -->


    <!-- Checkout -->
    <section class="section-wrap checkout">
        <div class="container relative">
            <div class="row">

                <div class="ecommerce col">
                    <form name="checkout" class="checkout ecommerce-checkout row" id="checkOut" method="post" action="{{ path('ordering' )}}">
                        <div class="col-lg-7" id="customer_details">
                            <div>
                                <h2 class="uppercase mb-30">Данни за поръчката</h2>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field"
                                           id="billing_first_name_field">
                                            <label for="billing_first_name">Име
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning1">Това поле е
                                                задължително</label>
                                            <input type="text" class="input-text" placeholder value="{{ user.name }}"
                                                   name="orders[name]" id="billing_first_name">

                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field"
                                           id="billing_last_name_field">
                                            <label for="billing_last_name">Фамилия
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning2">Това поле е
                                                задължително</label>
                                            <input type="text" class="input-text" placeholder value="{{ user.surname }}"
                                                   name="orders[surname]" id="billing_last_name">
                                        </p>
                                    </div>
                                </div> <!-- end name / last name -->
                                <p class="form-row form-row-wide address-field validate-required"
                                   id="billing_city_field"
                                   data-o_class="form-row form-row-wide address-field validate-required">
                                    <label for="billing_city">Град / Село
                                        <abbr class="required" title="required">*</abbr>
                                    </label>
                                <div class="autocomplete" style="width:100%;">
                                    <label style="display: none; color: red" id="warning7">Това поле е
                                        задължително</label>
                                    <input id="myInput" type="text" name="orders[populatedPlace]" placeholder="Град/село">
                                </div>
                                <br>


                                </p>
                                <p class="form-row form-row-wide address-field update_totals_on_change validate-required ecommerce-validated"
                                   id="billing_country_field">
                                    <label for="billing_country">Начин на доставка
                                        <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <br>
                                    <label style="display: none; color: red" id="warning3">Това поле е
                                        задължително</label>
                                    <select name="wayToDelivery" id="ademss" class="country_to_state country_select"
                                            title="Country *">
                                        <option >Избери...</option>
                                        <option>Доставка с куриер до адрес</option>
                                        <option>Вземане лично от офис на куриер</option>
                                    </select>
                                </p>
                                <div id="infoForAdress" style="display: none">


                                    <p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field"
                                       id="billing_address_1_field">
                                        <label for="billing_address_1">Адрес
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                    </p>
                                    <label style="display: none; color: red" id="warning6">Това поле е
                                        задължително</label>
                                    <p class="form-row form-row-wide address-field" id="billing_address_2_field">
                                        <input type="text" class="input-text"
                                               placeholder="напр. кватрал, улица, номер, вход... " value="{{ user.address }}"
                                               name="orders[address]" id="billing_address_2">
                                    </p>
                                </div>
                                <div id="infoForOffice" style="display: none">


                                    <p class="form-row form-row-wide address-field validate-required"
                                       id="billing_city_field"
                                       data-o_class="form-row form-row-wide address-field validate-required">
                                        <label for="billing_city">Офис на ЕКОНТ
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <br>
                                        <label style="display: none; color: red" id="warning8">Това поле е
                                            задължително</label>
                                        <input type="text" class="input-text" placeholder value
                                               name="orders[office]"
                                               id="ademss3">

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-row form-row-last validate-required validate-phone"
                                           id="billing_phone_field">
                                            <label for="billing_phone">Телефон
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning9">Това поле е
                                                задължително</label>
                                            <label style="display: none; color: red" id="warning9Reg">Неправилен
                                                номер</label>
                                            <input type="text" class="input-text" placeholder value="{{ user.phone }}"
                                                   name="orders[phone]"
                                                   id="billing_phone">
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row form-row-first validate-required validate-email"
                                           id="billing_email_field">
                                            <label for="billing_email">Имейл адрес
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning10Reg">Неправилен
                                                имейл</label>
                                            <label style="display: none; color: red" id="warning10">Това поле е
                                                задължително</label>
                                            <input type="text" class="input-text" placeholder value="{{ user.email }}"
                                                   name="orders[email]"
                                                   id="billing_email">
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <p class="form-row notes ecommerce-validated" id="order_comments_field">
                                    <label for="order_comments">Коментар</label>
                                    <textarea name="orders[additionalInfo]" class="input-text" id="order_comments"
                                              rows="2" cols="6" ></textarea>
                                </p>
                                <div class="ecommerce-shipping-fields">
                                    <label style="display: none; color: red" id="warning11">Трябва да се съгласите с
                                        усливията за да продължите</label>
                                    <br>
                                    <input type="checkbox" id="ship-to-different-address-checkbox"
                                           class="input-checkbox" name="ship_to_different_address" value="1">
                                    <label for="ship-to-different-address-checkbox" class="checkbox">Съгласявам се с
                                        <a href="{{ path('termsAndCotions') }}">УСЛОВИЯТА</a> на IRAPELL</label>
                                </div>
                            </div>

                            <input type="hidden"
                                   name="productId" value="1">

                        </div> <!-- end col -->

                        <!-- Your Orders -->
                        <div class="col-lg-5">
                            <div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
                                <h2 class="uppercase">Вашата поръчка</h2>
                                <table class="table shop_table ecommerce-checkout-review-order-table">
                                    <tbody>
                                    {% set sum=0 %}
                                    {% for product in productsCart %}
                                        {% set sum=sum+product.price %}
                                        <tr>
                                            <th><strong>Модел №</strong></th>
                                            <td >
                                                <input type="hidden" name="modelNumber" value="{{ product.getCartProduct()[0].modelNumber }}">
                                                <span class="amount">{{ product.getCartProduct()[0].modelNumber }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Номер:</th>
                                            <td >
                                                <input type="hidden" name="modelSize"  value="{{ product.modelSize }}">
                                                <span class="amount">{{ product.modelSize}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th >Цвят:</th>
                                            <td>
                                                <input type="hidden" name="modelColor"  value="{{ product.color}}">
                                                <span class="amount">{{ product.color }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <input type="hidden" name="modelTitle"  value="{{ product.getCartProduct()[0].title }}">
                                            <input type="hidden" name="modelPrice"  value="{{ product.getCartProduct()[0].price|number_format(2)  }}">
                                            <th  >{{ product.getCartProduct()[0].price }}<span class="count"> x {{ product.quantity }}</span></th>
                                            <td >
                                                <span class="amount">{{ (product.getCartProduct()[0].price)*product.quantity|number_format(2)  }} лв.</span>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    <tr class="shipping">
                                        <th>Доставка</th>
                                        <td>
                                            <span>Цената на доставката се заплаща от клиента и не е включена в общата сума!</span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th><strong>Общо за поръчка</strong></th>
                                        <td>
                                            <strong><span class="amount">{{ sum|number_format(2)  }} лв.</span></strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div id="payment" class="ecommerce-checkout-payment">
                                    <h2 class="uppercase">Начин на плащане</h2>
                                    <ul class="payment_methods methods">

                                        <li class="payment_method_bacs">
                                            <input id="payment_method_bacs" type="radio" class="input-radio"
                                                   name="payment_method" value="bacs" checked="checked">
                                            <label for="payment_method_bacs">Наложен платеж</label>
                                            <div class="payment_box payment_method_bacs">
                                                <p>При наложен платеж клиентите на STD заплащат поръчката си на
                                                    куриера.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="form-row place-order">
                                        <input type="submit"
                                               class="btn btn-lg btn-color btn-button" id="sendddd"
                                               value="КУПИ">
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end order review -->
                    </form>

                </div> <!-- end ecommerce -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>

{% endblock %}