{% extends 'base.html.twig' %}

{% block main %}

<div class="sign-in-popup">
    <div class="row">
        <div class="col-lg-15" id="customer_details">
            <div>
                <h2 class="uppercase mb-30">Редактиране на лична информация</h2>
                <form method="post" action="{{ path('myInformation')}}" id="changeInfo">
                <div class="row">
                    <div class="col-md-6">
                        <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_first_name_field">
                            <label for="billing_first_name">Име

                            </label>
                            <label style="display: none; color: red" id="changeInfoNameWarning">*Това поле е задължително</label>
                            <input type="text" class="input-text" placeholder value="{{ user.name }}" name="changeinfo[name]" id="changeInfoName">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_last_name_field">
                            <label for="billing_last_name">Фамилия

                            </label>
                            <label style="display: none; color: red" id="changeInfoSurnameWarning">*Това поле е задължително</label>
                            <input type="text" class="input-text" placeholder value="{{ user.surname }}" name="changeinfo[surname]" id="changeInfoSurname">
                        </p>
                    </div>
                </div> <!-- end name / last name -->

                    <p class="form-row form-row-wide address-field validate-required"
                       id="billing_city_field"
                       data-o_class="form-row form-row-wide address-field validate-required">
                        <label for="billing_city">Град / Село
                            <abbr class="required" title="required">*</abbr>
                        </label>
                    <div class="autocomplete" style="width:100%;">
                        <label style="display: none; color: red" id="warning7">Това поле е
                            задължително</label>
                        <input id="myInput" type="text" name="changeinfo[populatedPlace]" placeholder="Град/село" value="{{ user.populatedPlace }}">
                    </div>
                    <br>


                    </p>



                <p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_address_1_field">
                    <label for="billing_address_1">
                        Адрес
                    </label>
                    <label style="display: none; color: red" id="changeInfoAddressWarning">*Това поле е задължително</label>
                    <input type="text" class="input-text" placeholder="Street address" value="{{ user.address }}" name="changeinfo[address]" id="changeInfoAddress">
                </p>
                    <input type="hidden" id="inCheck" value="no">

                <div class="row">
                    <div class="col-md-6">
                        <p class="form-row form-row-last validate-required validate-phone" id="billing_phone_field">
                            <label for="billing_phone">
                                Телефон
                            </label>
                            <label style="display: none; color: red" id="changeInfoPhoneWarningInvalid">*Невалиден телефонен номер</label>
                            <input type="text" class="input-text" placeholder value="{{ user.phone }}" name="changeinfo[phone]" id="changeInfoPhone">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="form-row form-row-first validate-required validate-email" id="billing_email_field">

                            <label for="billing_email">
                                Email Address
                            </label>

                            <label style="display: none; color: red" id="changeInfoEmailWarning">*Това поле е задължително</label>
                            <input type="text" class="input-text" placeholder value="{{ user.email }}" name="changeinfo[email]" id="changeInfoEmail" disabled="disabled">
                        </p>
                    </div>
                </div>
                    <input type="submit"
                           class="btn btn-lg "
                           value="Редактирай">
                </form>
            </div>


        </div>

    </div>
</div>

{% endblock %}